img {
  width: 93.5%;
  height: auto;
  opacity: .8;
  box-shadow: 7px 8px 10px grey;
}

.material-icons {
  color: rgb(7, 177, 245);
}

.btn.show-on-large:hover {
  box-shadow: 7px 8px 20px gray;
}

.btn.show-on-large {
  background-color: gray;
}

#logoutBtn {
  background-color: gray;
  margin-top: 30%;
  margin-left: 0%;
}

#logoutBtn:hover {
  box-shadow: 7px 8px 20px gray;
}

img.circle {
  width: 35%;
  height: 35%;
  opacity: .9;
}

#sidenav_0 {
  position: fixed;
  height: 100%;
  width: 300px;
  z-index: 2;
}

.side-nav .userView {
    position: relative;
    padding: 10px;
    margin-bottom: 15%;
    height: 300px;
}

.side-nav .userView .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidebar-text {
  font-size: 19px;
  line-height: 45px;
  text-shadow: .5px 1px 1px gray;
}

.white-text {
  color: rgb(7, 177, 245) !important;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 26px;
  text-shadow: 3px 2px 2px white;
}

.indicator-item.active {
  background-color: rgb(7, 177, 245) !important;
}
