#output {
    border: solid 2px rgb(128, 125, 125);
    border-radius: 5px;
    height: 100px;

}

h6 {
    text-align: center;
};

.modal-body {
    bottom: 100px;
    top: 100px;
    overflow-y: scroll;
}

.modal {
    position: absolute;
    z-index: 1;
}
