/* .col-md-2 {
    height: 300px;
    width: 100%;
} */

#user-card {
    float: left;
    width: 45%;
    height: 275px;
}

#dog-card {
    float: right;
    width: 45%;
    height: 275px;
}
.card-image.waves-effect.waves-block.waves-light {
    margin: auto;
    /* text-align: center; */
    padding-left: 38px;
    padding-top: 20px;
}

.card-panel.teal {
    padding: 20px;
    padding-bottom: 1px;
} 

/* #user-pic {
    background: url("http://goodquotesword.com/images/94566/8pn_funny_profile_pictur.jpg");
    width: 100%;
} */
#user-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.card-image.waves-effect.waves-block.waves-light {
    margin: auto;
}

#dog-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.click-item {
    background-size: cover;
    background-position: center;
    height: 170px;
    width: 170px;
    margin: 8px 25px;
    border: 5px solid rgb(241, 241, 241);
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}
  
.click-item:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
}

@media (max-width: 750px) {
    .click-item {
      margin: 10px;
    }
}
  
@media (max-width: 500px) {
    .click-item {
      margin: 10px;
    }
}