
.card-box {
    border: solid 2px rgb(7, 177, 245);
}

#user-card {
    float: left;
    width: 45%;
    height: 275px;
    background-color: rgba(5, 112, 173, 0.562);    
}

#dog-card {
    float: right;
    width: 45%;
    height: 275px;
    background-color: rgba(5, 112, 173, 0.562);
}

.card-image.waves-effect.waves-block.waves-light {
    margin: auto;
    padding-left: 38px;
    padding-top: 20px;
}

.card-panel {
    padding: 20px;
    padding-bottom: 1px;
    background-size: 100%;
} 

#user-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 3px 0px 10px 0px black;
    left: 25px;
}

#dog-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 3px 0px 10px 0px black;
    left: 25px;
}

#rating-header {
    margin-top: auto;
    font-size: 18px;
    padding-right: 10px;
}

.rating-area {
    float: left;
    display: flex;
}

.coin-area {
    float: right;
}

.rating-coin-chat {
    margin-bottom: -3% !important;
}

.waves-effect.waves-light.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
}

#chat-btn {
    float:none!important;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left:1%;
    border-radius: 5%;
    background-color: rgb(7, 177, 245);
    padding: 2%;
    color: white;    
}

.coin-area {
    border: solid 2px rgba(5, 112, 173, 0.562);
    padding: 2%;
}

.coin-btn {
    float:none!important;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left:1%;
    border-radius: 5%;
    background-color: rgb(7, 177, 245);
    padding: 2%;
    color: white;      
}