#footer {
  background: 
  #ee6e73;
  height: 64px;
  position: static;
  left: 0;
  bottom: 0;
  color: white;
  /* overflow: auto; */
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 4.5;
}
